.error-message {
    background-color: #de8787;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.logout-button {
    background-color: #de8787;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    margin-right: 1rem;
}

.logout-button:hover {
    background-color: #d47c75;
}

.login-button {
    background-color: #87dfb9;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    margin-right: 1rem;
}

.login-button:hover {
    background-color: #7dd4a7;
}

/* Box container styles */
.box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 16px;
    padding: 30px 25px;
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-container img{
    width: 15rem
}

.avatar-initials {
  margin-right: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #6598a7;
  font-size: 20px;
}