body {
    font-family: "Montserrat", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.ticket {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

select {
outline: none;
}

.ticket-timestamp {
    min-width: 30%;
    font-size: 1.1rem;
    color: #666;
}

.ticket-header {
    display: flex;
}

.ticket:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ticket-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

        .ticket.active .ticket-details {
    display: block;
}

.ticket-block {
    min-width: 140px;
}

.ticket-details img{
    max-width: 200px;
    margin: 5px;
}


.status-tag {
    padding: 5px 10px;
    border-radius: 1.6rem;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 10px;
}

.Offen { background-color: #90EE90; color: #fff; }
.Arbeit { background-color: #59a2f9; color: #fff; }
.Geschlossen { background-color: #f76f6f; color: #fff; }
.Archiviert { background-color: #d5d5d5; color: #fff; }

.ticket-title {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #666;
}

.ticket-date {
    font-size: 14px;
    color: #777;
}

.ticket-text {
    margin-bottom: 20px;
}

.ticket-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.ticket-images img {
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-form {
    margin: 5px 0 0;
}

.status-form select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-family: "Montserrat", sans-serif;
    margin-right: 10px;
}

.submit-button, .close-button{
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.close-button {
    background-color: #f76f6f;
}

.close-button:hover {
    background-color: #e96060;
}

.submit-button {
    background-color: #59a2f9;
}

.submit-button:hover {
    background-color: #4e91e1;
}


/* Allgemeine Styles */
body {
font-family: 'Montserrat', sans-serif;
background-color: #f0f0f0;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
}

/* Header styles */
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #fff;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header img {
margin-right: 10px;
}

header h1 {
font-size: 20px;
margin: 0;
color: #333;
}

header .left-container {
display: flex;
align-items: center;
}

header .right-container {
display: flex;
align-items: center;
}

.left-container {
display: flex;
align-items: center;
}

.right-container {
display: flex;
align-items: center;
}

.username {
margin-right: 20px;
font-size: 1.2em;
color: #333;
}

.logout-button {
background-color: #de8787;
color: white;
border: none;
padding: 10px 10px;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
display: flex;
margin-right: 1rem;
}

.logout-button:hover {
background-color: #d47c75;
}

.login-button {
background-color: #87dfb9;
color: white;
border: none;
padding: 10px 10px;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
display: flex;
margin-right: 1rem;
}

.login-button:hover {
background-color: #7dd4a7;
}

/* Content Styles */
.content {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
padding-bottom: 2rem; /* Abstand nach unten */
flex-grow: 1;
overflow: auto;
}

.box-container {
width: 60%;
max-width: 1200px;
background-color: #fff;
padding: 20px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
border-radius: 8px;
margin-top: 20px;
}

.box {
background-color: #e0e0e0;
padding: 20px;
text-align: center;
border-radius: 4px;
font-size: 16px;
color: #333;
margin-bottom: 1.6rem;
}

.box a {
display: flex;
align-items: center;
text-decoration: none;
color: #333;
}

a {
text-decoration: none;
}

.box-container h3 {
text-align: center;
}

.box img {
margin-right: 10px;
width: 32px;
height: 32px;
}

/* Table Styles */
table {
width: 100%;
border-collapse: collapse;
margin-top: 20px; /* Abstand über der Tabelle */
}

table, th, td {
border: 1px solid #ccc;
}

th, td {
padding: 8px;
text-align: left;
}

th {
background-color: #f2f2f2;
}

/* File Upload Styles */
.file-upload-container {
display: flex;
align-items: center;
justify-content: center;
gap: 10px; /* Adjust spacing between file input and button */
}

input[type="file"] {
padding: 10px;
border: 2px solid #ccc;
border-radius: 4px;
cursor: pointer;
background-color: #fff;
color: #333;
}

input[type="file"]::file-selector-button {
background-color: #8794df;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 4px;
}

input[type="file"]::file-selector-button:hover {
background-color: #7d89cd;
}

/* Button Styles */
.upload-button {
background-color: #8794df;
color: white;
border: none;
padding: 10px 10px;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
display: flex; /* Initial versteckt */
position: relative; /* Needed for positioning the tooltip */
}

.upload-button:hover {
background-color: #7d89cd;
}

.upload-button img {
filter: invert(100%);
width: 25px;
height: 25px;
margin: auto;
}

.clear-button {
background-color: #8794df;
color: white;
border: none;
padding: 10px 10px;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
display: flex; /* Initial versteckt */
position:relative;
}

.clear-button img {
filter: invert(100%);
width: 25px;
height: 25px;
margin: auto;
}

.clear-button:hover {
background-color: #7d89cd;
}

/* custom.css */
.total-hours {
color: #4abfc1;
font-weight: bold;
}

/* Modal Styling */
.modal {
display: none; /* Versteckt standardmäßig das Modal */
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4); /* Hintergrund dunkelgrau mit Transparenz */
}

.confirm-button, .cancel-button {
background-color: #8794df;
color: white;
border: none;
padding: 10px 20px; /* Anpassung des Paddings für bessere Klickbarkeit */
cursor: pointer;
border-radius: 4px;
font-size: 16px;
margin-left: 10px; /* Abstand zwischen den Buttons */
}

.confirm-button:hover, .cancel-button:hover {
background-color: #7d89cd;
}

/* Stile für deaktivierte Buttons */
button:disabled,
button:disabled:hover {
background-color: #bcbcbc; /* Grau */
color: lightgrey; /* Dunkleres Grau */
cursor: not-allowed; /* "Nicht erlaubt"-Cursor */
}
button:disabled img,
button:disabled:hover img {
filter: invert(60%); /* Bilder ebenfalls ausgegraut */
}

#starttime{
width: 65px;
}

#endtime {
width: 65px;
}

#type {
width: 180px;
}

#description{
width: 150px;
}


.loading {
display: flex;
justify-content: center;
margin: 15px auto 25px;
}

.loaded {
display: flex;
justify-content: center;
visibility: hidden;
margin: 15px 0 25px;
}

.loader {
width: 16px;
height: 16px;
border-radius: 50%;
display: block;
margin: 0 auto;
position: relative;
background: #FFF;
box-shadow: -24px 0 #FFF, 24px 0 #FFF;
box-sizing: border-box;
animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
33% {
background: #FFF;
box-shadow: -24px 0 #8794df, 24px 0 #FFF;
}
66% {
background: #8794df;
box-shadow: -24px 0 #FFF, 24px 0 #FFF;
}
100% {
background: #FFF;
box-shadow: -24px 0 #FFF, 24px 0 #8794df;
}
}

.infotext {
font-size: 14px;
}

#uploaderror {
display: block;
margin: auto;
}

.avatar-initials {
margin-right: 1rem;
height: 40px;
width: 40px;
border-radius: 50%;
line-height: 40px;
text-align: center;
color: white;
background-color: #6598a7;
font-size: 20px;
}

h3 {
color: #8794df;
margin: 1rem 0 2rem;
}

.tooltip {
padding: 10px;
position: absolute;
width: auto;
white-space: nowrap;
word-wrap: normal;
box-shadow: 1px 1px 20px #aaa;
border-radius: 5px;
background-color: #fff;
color: #7d89cd;
top: -110%; /* Positioned below the button */
left: 50%;
transform: translateX(-50%);
transform-style: preserve-3d;
z-index: 200;
font-size: 0.9em;
display: none; /* Hidden by default */
}

.upload-button:hover .tooltip, .clear-button:hover .tooltip {
display: block; /* Show on hover */
}

.upload-button:disabled:hover .tooltip, .clear-button:disabled:hover .tooltip {
display: none; /* Show on hover */
}

.tooltip:after {
content: '';
position: absolute;
display: block;
width: 10px;
height: 10px;
transform-origin: 50% 50%;
transform: rotate(45deg) translateX(-50%);
background-color: #fff;
left: 49%;
top: 95%;
z-index: 400;
}

.tooltip:before {
content: '';
display: block;
position: absolute;
width: 10px;
height: 10px;
transform-origin: 50% 50%;
transform: rotate(45deg) translateX(-50%) translateZ(-1px);
background-color: #fff;
left: 49%;
top: 95%;
z-index: -1;
box-shadow: -1px -1px 20px #aaa;
}

/* File Upload Styles */
.tools-container {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
/* Adjust spacing between file input and button */
}

/* Styles für das Suchfeld */
.search-field {
outline: none;
padding: 10px;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
width: 200px;
margin-right: 10px;
/* Abstand zum nächsten Element */
color: #333;
}
.search-field::placeholder {
color: #aaa;
}

/* Button Styles */
.add-button {
background-color: #8794df;
color: white;
border: none;
padding: 10px 10px;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
display: flex;
position: relative;
/* Initial versteckt */
}
.add-button:hover {
background-color: #7d89cd;
}
.add-button img {
filter: invert(100%);
width: 25px;
height: 25px;
margin: auto;
}
.clear-button {
background-color: #8794df;
color: white;
border: none;
padding: 10px 10px;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
display: flex;
/* Initial versteckt */
}
.clear-button img {
filter: invert(100%);
width: 25px;
height: 25px;
margin: auto;
}
.clear-button:hover {
background-color: #7d89cd;
}

.ticketuser {
padding-left: 5px;
font-size: 12px;
color: #aaa;
}

        .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
