<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamleader Softwaretools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/illness.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumbs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bugreport.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <header>
        <div class="left-container">
            <img src="{{ url_for('static', filename='assets/timer.png') }}" alt="Timer Icon" width="64">
            <a href=".">
                <h1>Teamleader Softwaretools</h1>
            </a>
        </div>
        <div class="right-container">
            <button type="button" class="error-button" onclick="toggleBubble()">
                <img src="{{ url_for('static', filename='assets/bug.png') }}" alt="Upload Icon">
            </button>
            {% if username %}
            <a class="ticket-button" href="./tickets.html">
                <img src="{{ url_for('static', filename='assets/skills.png') }}" alt="Upload Icon">
            </a>
            <div class="avatar-initials" id="avatar-initials">{{ initials }}</div>
            <button type="button" class="logout-button" onclick="logout()">
                Abmelden
            </button>
            {% else %}
            <button type="button" class="login-button" onclick="login()">
                Anmelden
            </button>
            {% endif %}
        </div>
    </header>
    <!-- Breadcrumb Navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- Beispiel für Home Icon -->
            <li class="breadcrumb-item">
                <a href="/" class="breadcrumb-link">
                    <img src="/static/assets/home.svg" class="breadcrumb-icon" alt="Home Icon" width="16" height="16">
                    Startseite
                </a>
            </li>
            <li class="breadcrumb-item active">
                <img src="/static/assets/chevron.svg" class="breadcrumb-spacer" alt="Home Icon" width="16" height="16">
                Krankheitsstunden einsehen
            </li>
        </ol>
    </nav>
    <div class="content">
        <div class="box-container">
            <div class="box">
                <div class="teamleader-users-container">
                    <button type="button" class="confirm-button" id="yearbutton" onclick="checkAbsenceForYear()">
                        Jahresansicht
                    </button>
                    <button type="button" class="backward-button" onclick="setDateBackward()">
                        <img src="{{ url_for('static', filename='assets/chevron.svg') }}" alt="" width="32">
                    </button>
                    <input type="month" id="date" name="date" class="date-input" value="{{ today }}">
                    <button type="button" class="forward-button" onclick="setDateForward()">
                        <img src="{{ url_for('static', filename='assets/chevron.svg') }}" alt="" width="32">
                    </button>
                    <button type="button" class="confirm-button" id="confirmbutton" onclick="checkAbsenceForDate()">
                        Bestätigen
                    </button>
                    <button class="download-button" id="download-button" onclick="downloadCSV()" disabled>
                        <div class="tooltip">
                            Krankheitsübersicht herunterladen
                        </div>
                        <img src="{{ url_for('static', filename='assets/download.png') }}" alt="Upload Icon">
                    </button>
                </div>
            </div>
            <div class="box-content" id="box-content">
                <div id="loader" class="{% if illness %}loaded{% else %}loaded{% endif %}">
                    <span class="loader"></span>
                </div>
                {% if error_message %}
                <p class="error-message" id="error-message">{{ error_message }}</p>
                {% endif %}
                <table id="membersTable" class="{% if illness %}visible{% else %}hidden{% endif %}">
                    <thead>
                        <tr>
                            <th>Mitarbeiter</th>
                            <th>Krankheitstage</th>
                            <th>Fehlstunden</th>
                        </tr>
                    </thead>
                    <tbody id="membersTableBody">
                        {% for member in illness %}
                        <tr>
                            <td>{{ member.employee }}</td>
                            <td class="times">{{ member.days }}</td>
                            <td class="times">{{ member.hours }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="errorBubble" class="bubble">
        <h2>Fehler melden</h2>
        <form id="errorForm">
            <input type="text" id="errorTitle" placeholder="Titel" required>
            <textarea id="errorText" placeholder="Fehlerbeschreibung" required></textarea>
            <div id="dropZone" class="drop-zone">
                <p>Screenshots hier ablegen oder klicken zum Auswählen</p>
                <input type="file" id="errorImages" accept="image/*" multiple style="display: none;">
            </div>
            <div id="imagePreview" class="image-preview"></div>
            <div class="button-container">
                <button type="submit">OK</button>
                <button type="button" class="cancel-button" onclick="hideBubble()">Abbrechen</button>
            </div>
        </form>
    </div>
    <div id="message-container"></div>
    <!-- Separate JavaScript file -->
    <script src="{{ url_for('static', filename='js/bugreport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/illness.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>