<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamleader Softwaretools</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumbs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bugreport.css') }}">
</head>
<body>
<header>
    <div class="left-container">
        <img src="{{ url_for('static', filename='assets/timer.png') }}" alt="Timer Icon" width="64">
        <a href="."><h1>Teamleader Softwaretools</h1></a>
    </div>
    <div class="right-container">
                        <button type="button" class="error-button" onclick="toggleBubble()">
            <img src="{{ url_for('static', filename='assets/bug.png') }}" alt="Upload Icon">
        </button>
        {% if username %}
        <a class="ticket-button" href="./tickets.html">
            <img src="{{ url_for('static', filename='assets/skills.png') }}" alt="Upload Icon">
        </a>
        <div class="avatar-initials" id="avatar-initials">{{ initials }}</div>
        <button type="button" class="logout-button" onclick="logout()">
            Abmelden
        </button>
        {% else %}
        <button type="button" class="login-button" onclick="login()">
            Anmelden
        </button>
        {% endif %}
    </div>
</header>
<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <!-- Beispiel für Home Icon -->
        <li class="breadcrumb-item">
            <a href="/" class="breadcrumb-link">
                <img src="/static/assets/home.svg" class="breadcrumb-icon" alt="Home Icon" width="16" height="16">
                Startseite
            </a>
        </li>
        <li class="breadcrumb-item active">
            <img src="/static/assets/chevron.svg" class="breadcrumb-spacer" alt="Home Icon" width="16" height="16">
            Projektübersicht
        </li>
    </ol>
</nav>
<div class="content">
    <div class="box-container">
        <div class="box">
            <div class="tools-container">
                <input type="search" id="searchField" class="search-field" placeholder="Suche..." oninput="filterTable()">
                <button id="saveButton" class="upload-button" onclick="updateProjects()">
                    <div class="tooltip">
                        Projektübersicht aktualisieren
                    </div>
                    <img src="{{ url_for('static', filename='assets/reload.png') }}" alt="Download Icon">
                </button>
                {% if username == "David Steinmetz" %}
                <button id="downloadButton" class="upload-button" onclick="downloadJson()">
                    <div class="tooltip">
                        Projektübersicht herunterladen
                    </div>
                    <img src="{{ url_for('static', filename='assets/download.png') }}" alt="Download Icon">
                </button>
                {% endif %}
            </div>
        </div>
        <div id="csvContent">
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            <img src="/static/assets/upload.gif" id="uploaderror" alt="Uploaderror Icon" height="300px">
            {% endif %}
            {% if success_message %}
            <p class="success-message">{{ success_message }}</p>
            {% endif %}
            {% if projects %}
            <table id="projectsTable">
                <thead>
                <tr>
                    <th>Unternehmen</th>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                <tr>
                    <td id="project">{{ project['company'] }}</td>
                    <td id="id">{{ project['id'] }}</td>
                    <td class="icon-column"><input type="checkbox" data-employee="{{ project.status }}" data-permission="authorizations" {% if project.status=="active" %}checked{% endif %} disabled></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
		<div id="errorBubble" class="bubble">
    <h2>Fehler melden</h2>
    <form id="errorForm">
        <input type="text" id="errorTitle" placeholder="Titel" required>
        <textarea id="errorText" placeholder="Fehlerbeschreibung" required></textarea>
        <div id="dropZone" class="drop-zone">
            <p>Screenshots hier ablegen oder klicken zum Auswählen</p>
            <input type="file" id="errorImages" accept="image/*" multiple style="display: none;">
        </div>
        <div id="imagePreview" class="image-preview"></div>
        <div class="button-container">
            <button type="submit">OK</button>
            <button type="button" class="cancel-button" onclick="hideBubble()">Abbrechen</button>
        </div>
    </form>
</div>
<div id="message-container"></div>
<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/bugreport.js') }}"></script>
</body>
</html>
